*
{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.container
{

    width: 100%;
    min-height: 100vh;
    padding:10px;
    background: linear-gradient(135deg,green,gray);
}
.todolist
{
    width: 100%;
    max-width: 540px;
    background:#fff;
    border-radius: 20px;
    margin: 100px auto 20px; /* top left,right bottom*/
    padding: 40px 30px 70px;
    background-image: url('checked.jpg');
    
}
.todolist h1
{
    display: flex;
    align-items:center;
    column-gap: 10px;
}

img
{
    
    padding:2px;
    width: 80px;
    height:60px;
    border: none;
    border-radius: 50%;
    background:linear-gradient(green,white);
    background-position: center;
    background-size: cover;

}
.row
{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 40px;
    margin-top:30px;
    padding: 10px;
    justify-content: space-between;

}
input
{
  flex:1;
  border: none;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  outline: none;
  background: transparent;
}
button
{
    background-color: rgb(61, 196, 236);
    padding:10px;
    border:none;
    border-radius:40px;
    color:white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
ul li
{
    list-style: none;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    cursor: pointer;
    user-select:none;
    position: relative;
}


ul li::before
{
    content:'';
    width:24px;
    height:24px;
    border-radius: 50%;
    background-image: url('unchecked.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top:12px;
    left:-12px;
}
ul li.checked
{
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before
{
    background-image: url('checked.jpg');
}  

ul li span
{
    position:absolute;
    top:8px;
    right:0px;
    width:40px;
    height:40px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color:white;
    border-color:white;
    border-style:solid ;
    border-width: 1px;

}

ul li span:hover
{
    color:white;
    background:linear-gradient(135deg,red,rgb(230, 107, 7));

    
}